.failure-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
  color: #ffffff;
}

.nf-home-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;

  width: 88px;
  height: 48px;

  background: #2563eb;
  border-radius: 12px;
  border: none;

  flex: none;
  order: 0;
  flex-grow: 0;
}
